<div class="page-header">
    <h1>{{ currentProject.name }}
        <small>Classes</small>
    </h1>
</div>

<ul class="nav nav-pills">
    <li class="active"><a href="#/projects/{{ currentProject.slug }}/model/classes">Classes</a></li>
    <li><a href="#/projects/{{ currentProject.slug }}/model/classes/graph">Graph</a></li>
</ul>

<br />
<br />

<table class="table">
    <tr>
        <th>Class name</th>
        <th>Files</th>
    </tr>
    <tr ng-repeat="class in classes">
        <td>
            <class-name fqcn="class.fqcn"></class-name>
        </td>
        <td></td>
    </tr>
</table>