#main-container {
    margin-top: 60px;
}

.btn > .glyphicon,
.dropdown-menu > li .glyphicon {
    margin-right: 8px;
}

.cypher-node-table tbody th {
    width: 30%;
}

.node {
    stroke: white;
    stroke-width: 2px;
}

.node-active {
    stroke: #555;
    stroke-width: 2px;
}

.link, .marker {
    stroke: #999;
    stroke-width: 1px;
    stroke-opacity: 1;
}

.link-active {
    stroke: #555;
    stroke-width: 4px;
}