@(name: String)

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@name</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-if="currentProject != null" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Source code <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/projects/{{ currentProject.slug }}/source/packages">
                                <i class="glyphicon glyphicon-th-large"></i>
                                Packages
                            </a>
                            <a href="#/projects/{{ currentProject.slug }}/source/files">
                                <i class="glyphicon glyphicon-file"></i>
                                Files
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="currentProject != null" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Model <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/projects/{{ currentProject.slug }}/model/classes">
                                <i class="glyphicon glyphicon-asterisk"></i>
                                Classes
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="project in projects">
                            <a href="#/projects/{{ project.slug }}"><i class="glyphicon glyphicon-folder-open"></i> {{ project.name }}</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#/projects/new"><i class="glyphicon glyphicon-plus"></i> Create new project</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>